train:
  output_dir: ./output_lejepa
  wandb_name: lejepa_pretrained_bs128
  wandb_project: lejepa_dinov2_vits14 # midnight-rep
  streaming_dataset_path: /data/TCGA_parquet_sample30_shuffled
  shuffle_buffer: 50000
  fragment_prefetch_limit: 4
  fragment_range_size: 33554432
  batch_size_per_gpu: 512
  num_workers: 4
  OFFICIAL_EPOCH_LENGTH: 500
  skip_checkpointer: true
  seed: 0
  resume: false
  amp_dtype: bf16
  use_pretrained: true
  pretrained_repo: facebookresearch/dinov2
  pretrained_name: dinov2_vits14_reg
student:
  arch: vit_small
  patch_size: 14
  drop_path_rate: 0.1
  ffn_layer: mlp
  block_chunks: 4
  num_register_tokens: 4
  layerscale: 1.0
  interpolate_antialias: True
  interpolate_offset: 0.0
optim:
  epochs: 100 # 2000
  weight_decay: 0.05
  lr: 2.0e-4
  warmup_epochs: 10
  warmup_factor: 0.01
  eta_min: 1.0e-3
  layerwise_decay: 1.0
  clip_grad: 0.0 # 0 means we are not clipping gradients
crops:
  global_crops_scale:
  - 0.32
  - 1.0
  local_crops_number: 4
  local_crops_scale:
  - 0.05
  - 0.32
  global_crops_size: 224
  local_crops_size: 98
evaluation:
  eval_period_iterations: 500 # 2500
  bach_root: /data/eva-data/bach
lejepa:
  lambd: 0.05
  num_slices: 1024
  t_max: 3.0
  n_points: 17
  proj_dim: 64
  proj_hidden_dim: 2048
  proj_nlayers: 3
  proj_norm: batchnorm
